 :root {
     --text-color: #2b2b2b;
     --primary-color: #135c51;
     --secondary-color: #ffb833;
     --nav-item-active-color: #9d6e00;
     --button-text-color: #fff;
     --button-visited-text-color: lightgray;
     --worksample-border-color: rgb(231, 231, 231);
     --box-shadow-color: rgb(0, 0, 0, 0.1);
     --worksample-desc-bg-color: white;

     --heading-font-weight: 700;
     --border-radius-primary: 6px;

     --footer-icon-size: 30px;
 }

 * {
     box-sizing: border-box;
 }

 /*prevents nav menu from shifting to left when vertical scrollbar is present*/
 html {
     overflow-x: hidden;
     margin-right: calc(100% - 100vw);
 }

 body {
     font-family: "Lato", sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.6;
 }

 p {
     margin: 0;
 }

 h1 {
     font-size: 30px;
     font-weight: var(--heading-font-weight);
 }

 h2 {
     font-size: 24px;
     font-weight: var(--heading-font-weight);
 }

 h3 {
     font-size: 18px;
     font-weight: var(--heading-font-weight);
 }

 a {
     color: var(--primary-color);
     text-decoration: none;
 }

 button,
 .button {
     display: inline-block;
     border: none;
     font-family: inherit;
     background-color: var(--primary-color);
     color: var(--button-text-color);
     text-decoration: none;
     padding: 10px;
     border-radius: var(--border-radius-primary);
     border: 0;
     transition: opacity 0.2s;
 }

 button:hover,
 button:focus,
 .button:hover,
 .button:focus {
     cursor: pointer;
     opacity: 0.8;
 }

 button:visited,
 .button:visited {
     color: var(--button-visited-text-color);
 }

 .page-content {
     min-height: 100vh;
     width: 100%;
     display: flex;
     flex-direction: column;
 }

 .page-header {
     display: flex;
     padding: 20px;
     align-items: center;
     justify-content: center;
 }

 .page-header img {
     max-height: 60px;
 }

 .page-header__item:last-child {
     flex: 1 1 auto;
     text-align: right;
     padding-right: 20px;
 }

 .navigation-list {
     list-style-type: none;
 }

 .navigation-list li {
     display: inline-block;
     margin-left: 14px;
 }

 .navigation-list__item--active {
     font-weight: bold;
     text-decoration: none;
     color: var(--nav-item-active-color);
     position: relative;
 }

 .navigation-list__item--active::after {
     position: absolute;
     content: "";
     background-color: white;
     border: 1px solid var(--nav-item-active-color);
     width: 100%;
     height: 110%;
     bottom: -3px;
     left: 0;
     z-index: -1;
     transform: scaleX(120%);
 }

 .navigation-list__item {
     font-weight: bold;
     position: relative;
 }

 .navigation-list__item::after {
     position: absolute;
     content: "";
     background-color: rgba(255, 255, 255, 0);
     width: 100%;
     height: 2px;
     bottom: -3px;
     left: 0;
     transition: all 0.3s;
     z-index: -1;
     transform: scaleX(120%);
 }

 .navigation-list__item:hover::after {
     background-color: var(--secondary-color);
     height: 120%;
 }

 main {
     padding: 0;
     flex: 1 1 auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .profile {
     flex: 0 1 auto;
     min-width: 600px;
     max-width: 700px;
     font-size: 1.1em;
 }

 .profile h1 {
     font-size: 2.3em;
     margin-top: 0;
     margin-bottom: 0;
 }

 .profile__portrait {
     float: left;
     width: 250px;
     margin-right: 40px;
     margin-top: 16px;
     border-radius: var(--border-radius-primary);
 }

 .about {
     flex: 0 1 auto;
     max-width: 700px;
 }

 .about div {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 32px;
 }

 .contact {
     flex: 0 1 auto;
     max-width: 1000px;
     display: flex;
     gap: 64px;
 }

 .contact h1,
 .contact h2 {
     margin: 0;
 }

 .contact h2 {
     margin-top: 8px;
 }

 form p {
     font-size: 0.8em;
 }

 form .button {
     display: block;
     margin-top: 16px;
 }

 .work {
     display: flex;
     min-width: 60%;
     max-width: 80%;
     min-height: 800px;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     ;
 }

 .work h1 {
     align-self: self-start;
     padding-left: 15px;
 }

 .page-footer {
     flex: 0 0 auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100px;
     margin-top: 64px;
 }

 .page-footer__icon {
     width: var(--footer-icon-size);
     height: var(--footer-icon-size);
 }

 .grid {
     display: flex;
     flex-wrap: wrap;
     flex: 1 1 auto;
     width: 100%;
     height: 100%;
 }

 .grid__item {
     border: 2px solid var(--worksample-border-color);
     display: flex;
     flex-direction: column;
     min-width: 250px;
     height: 300px;
     padding: 16px;
     margin: 16px;
     transition: transform 0.3s;
     will-change: transform;
     box-shadow: 2px 5px 10px var(--box-shadow-color);
 }

 .grid__item h2 {
     font-size: 1.25em;
     margin: 0 0 8px 0;
 }

 .grid__item--image {
     width: 100%;
     flex: 2 0 auto;
     background-image: url("https://placehold.co/250x250");
     background-size: cover;
     background-position: center;
     margin-bottom: 4px;
     cursor: pointer;
 }

 .grid__item--description {
     flex: 0 1 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .grid__item--description p {
     font-weight: bold;
     color: var(--primary-color);
     cursor: default;
     user-select: none;
 }

 .grid__item:hover {
     transform: scale(105%);
 }

 .grid__item--description p:hover::after {
     position: absolute;
     content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut...";
     font-size: 0.7em;
     font-weight: normal;
     text-wrap: wrap;
     color: black;
     padding: 8px;
     background-color: var(--worksample-desc-bg-color);
     border: 1px solid var(--worksample-border-color);
     border-radius: var(--border-radius-primary);
     min-height: 64%;
     height: auto;
     top: 8px;
     left: 8px;
     right: 8px;
     transition: all 0.3s;
     z-index: 1;
 }

 @supports (display: grid) {
     .grid {
         display: grid;
         grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
         gap: 20px;
     }

     .grid__item {
         min-width: 0;
     }
 }

 @keyframes color-change {
     from {
         fill: #edc655;
     }

     to {
         fill: #f76414;
     }
 }

 @keyframes cloud-move {
     from {
         transform: translate(0, 50px);
     }

     to {
         transform: translate(200px, 50px);
     }
 }

 @keyframes cloud-move-reverse {
     from {
         transform: translate(446px, 48px);
     }

     to {
         transform: translate(100px, 48px);
     }
 }

 .sun {
     animation: 4s color-change infinite alternate linear;
 }

 .cloud-front {
     animation: 30s cloud-move infinite alternate linear;
 }

 .cloud-back {
     animation: 34s cloud-move-reverse infinite alternate linear;
 }

 input,
 label {
     display: block;
 }

 label {
     margin-bottom: 4px;
 }

 input,
 textarea {
     margin: 0;
     padding: 4px;
     width: 300px;
     margin-bottom: 16px;
     border: 1px solid gray;
 }

 textarea {
     height: 150px;
     resize: none;
 }

 @media all and (max-width: 1024px) {
     .grid {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 20px;
     }

     .work {
         width: 80%;
     }

     h1 {
         font-size: 22px;
     }

     h2 {
         font-size: 18px;
     }
 }

 @media all and (max-width: 600px) {
     main {
         justify-content: start;
     }

     .page-header {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         flex: 0 1 auto;
         padding-bottom: 0;
     }

     .page-header__item:last-child {
         transform: translateX(-18px);
         flex: 0 1 auto;
         text-align: center;
         line-height: 2em;
     }

     .profile {
         flex-direction: column;
         justify-items: center;
         min-width: 0;
         text-align: center;
         font-size: 1em;
     }

     .profile h1 {
        font-size: 22px;
     }

     .profile__portrait {
         float: none;
         margin: 16px 0;
         width: 175px;
     }

     .about h1 {
         justify-self: center;
         margin-top: 0;
     }

     .about .button {
         justify-self: center;
         display: block;
     }

     .about div {
         max-height: 250px;
     }

     .contact {
         flex-direction: column;
         align-items: center;
         gap: 0;
         max-width: 100%;
     }

     .contact div {
         border-bottom: 1px solid gray;
         margin: 0;
         padding: 0 0 16px 0;
         width: 100%;
     }

     .profile,
     .about,
     input,
     textarea {
         width: 80vw;
     }

     .work {
         max-width: 80vw;
         min-width: 200px;
     }

     .work h1 {
         padding-left: 0;
         margin-top: 0;
         align-self: center;
     }

     .grid {
         grid-template-columns: 1fr;
     }

     .grid__item {
         margin: 0;
     }

 }